# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
*.icloud

# Xcode user data
xcuserdata/
*.xcuserstate

# Xcode build artifacts
DerivedData/
build/
.build/

# Xcode project / workspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata

# Swift / binaries / debug symbols
*.hmap
*.ipa
*.dSYM
*.dSYM.zip

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Misc
*.swp
*.orig
